Django==3.2.16
djangorestframework==3.14.0
psycopg2-binary==2.9.6
djangorestframework-simplejwt==5.2.2
python-dotenv==1.0.0
drf-yasg==1.21.6
django-filter==23.2
python-dotenv==1.0.0
django-rest-swagger==2.2.0
django-celery-results
celery~=5.3.1
daphne
django-celery-beat==2.5.0
redis
django-redis==5.2.0
django-recurrence~=1.11.1
channels
authlib
django-allauth
channels-redis
coverage
arrow~=1.2.3
uuid~=1.30
